
.footer_wrapper {
    position: absolute;
    left: 0;
    margin-top: 500vh;
    width: 100% !important;

    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    background: var(--pastel-red);
    opacity: 0.85;
}

.footer_wrapper p {
    padding-top: 40px;

}

.footer_wrapper a {
    margin-bottom: 40px;
}