
.thanks_wrapper {

}

.thanks_wrapper h1 {
    letter-spacing: 0.75px;
}

.thanks_wrapper p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    letter-spacing: 0.5px;
    line-height: 25px;
}

.bold {
    display: inline-flex;
    font-weight: 500;
}

.contact_button {
    height: 75px;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    border-width: 4.5px;
    border-style: solid;
    border-color: var(--cinnabar);
}

.contact_button p {
    color: var(--cinnabar);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}