
@keyframes colorFadeIn {
    from {
        border-color: var(--light-gray);
        color: black;
    }

    to {
        border-color: var(--tulip);
        color: var(--tulip);
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.worked_wrapper {
    padding: 50px;
    width: 80%;

    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    background: white;
    border-radius: 12.5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.worked_wrapper h1 {
    margin: 0;

    color: var(--coral-reef);
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    margin: 0;
    padding: 0;
    width: 32.5%;
}

.react-tabs__tab {
    position: relative;
    margin: 15px;
    padding: 10px;

    font-weight: 500;
    letter-spacing: 0.5px;
    color: black;
    background: white;

    border-color: var(--light-gray);
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: solid;

    list-style-type: none;
    text-align: left;
    cursor: pointer;
}

.react-tabs__tab--selected {
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--tulip);

    background: white;
    border-color: var(--tulip);
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: solid;
    animation: colorFadeIn 0.25s forwards;

}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    outline: none;
}

.react-tabs__tab-panel {
    display: none;
    width: 100%;
}

.react-tabs__tab-panel--selected {
    display: block;
    animation: fadeIn 1s forwards;
}

.tab_panel_cell {
    text-align: left;
}

.tab_panel_cell a {
    color: var(--tulip);
    text-decoration: none;
    transition: 0.5s;
}

.tab_panel_cell a:hover {
    opacity: 0.75;
}

.tab_panel_cell h2 {
    letter-spacing: 1px;
}

.tab_panel_cell p {
    margin-top: -10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    padding: 0;

    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--ios-gray);
}

.tab_panel_cell ul {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
}

.tab_panel_cell li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;
}

.tab_panel_cell li::before {
    content: "\2022";       /* \2022 is the CSS Code/unicode for a bullet */
    color: var(--cinnabar);

    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.tools_wrapper p {
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 0;
    margin-right: 0;

    color: black;
    text-align: left;
    font-weight: 550;
    letter-spacing: 0.75px;
}

.tools_wrapper ul { 
    display: flex;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.tools_wrapper li {
    list-style: none;
    padding-right: 40px;
}

.tools_wrapper li::before {
    content: "▸";
}

@media only screen and (max-width: 768px) {
    .react-tabs__tab-list {
        margin-left: -40px;
    }

    .tab_panel_cell {
        width: 80%;
    }

    .tools_wrapper ul {
        width: 25%;
    }
}
