
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --white-gray: rbg(247, 247, 247);
    --dark-gray: rgb(17, 19, 22);
    --pastel-green: rgb(100, 190, 121);
}

html {
    background-color: var(--dark-gray);
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 5000px;
}

.landing_page_wrapper {
    position: relative;
    top: 0;
    left: 0;

    min-height: 80vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: green;*/
}

@keyframes slideIn {
    to {left: -50px}
}

.spine {
    position: absolute;
    top: 0;
    left: -500px;

    height: 100%;
    width: 3px;
    background: var(--pastel-green);
    animation: slideIn 1s forwards;
}

.spine::before {
    content: "";
    position: absolute;
    top: -2px;

    height: 3px;
    width: 3px;
    background-color: inherit;
    border-radius: 50%;
}

.spine::after {
    content: "";
    position: absolute;
    bottom: -2px;

    height: 3px;
    width: 3px;
    background-color: inherit;
    border-radius: 50%;
}

.greetings_wrapper {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    width: 75%;
    text-align: left;
    /*background: green;*/
}

.greetings_wrapper h2 {
    margin-top: 0;
    margin-bottom: -20px;

    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.75px;
}

.greetings_wrapper h1 {
    margin-top: px;
    margin-bottom: 0px;

    font-size: 55px;
    letter-spacing: 2px;
}

.greetings_wrapper a {
    text-decoration: none;
    transition: 0.5s;

    color: var(--pastel-green);
    filter: brightness(1.5);
    opacity: 1;
}

.greetings_wrapper a:hover {
    opacity: 0.75;
}

.greetings_wrapper p {
    font-size: 22px;
    letter-spacing: 1px;
}

.icon_wrapper {
    padding-top: 10px;
    margin-left: -25px;     /*negate by padding-left amount from .icon*/
}

.icon {
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

