
/* entire scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

/* track of scrollbar */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* draggable scrolling handle */
::-webkit-scrollbar-thumb {
    /* make it with rounded edges */
    border-radius: 15px;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: var(--tulip); 
}

